{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header account-card-header-background-dark">
                        <h2>{% trans "Change Password" %}</h2>
                    </div>
                    <div class="card-block   account-card-body-background-medium">

                        <div class="card-text ">
                            <p>{% trans 'Your password is now changed.' %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

