{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form class="form-horizontal" method="post"
          action="{% url 'kelacontactprofile:kelastatement_delete' object.pk %}">
        {% csrf_token %}
        <p>Oletko varma, että haluat poistaa kelan tilityksen {{ object.companyName }}?</p>
        {{ form|crispy }}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Poista tilitys</button>
            </div>
        </div>
        <a href="{% url 'kelacontactprofile:kelastatement_list' %}">Älä poista ja palaa Kelan yhteystietojen listaan</a>
    </form>
{% endblock %}
