{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card">
        <div class="card-header customers-card-header-background-dark">
            <h2>{{ kelacontactprofileupdatetitletext }}</h2>
        </div>
        <div class="card-block   customers-card-body-background-medium">
            <div class="card-title"></div>
            <div class="card-text ">
                <form class="form-horizontal" method="post"
                      action="{% url 'kelainvoicing:kelacontactprofile_update' object.pk %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button id="kelastatementsave-button" type="submit"
                            class="btn btn-primary btn-sm">{{ savebuttontext }}</button>
                </form>
                <a id="kelastatementlist-button" class="btn btn-secondary  btn-sm"
                   href="{% url 'kelainvoicing:kelastatement_list' %}"
                   role="button">{{ backtokelastatementlistbuttontext }}</a>
            </div>
        </div>
    </div>
{% endblock %}
